@font-face {
    font-family: GROBOLB;
    src: url(fonts/GROBOLD.ttf);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */
    font-family: 'GROBOLD'
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-family: 'GROBOLD'
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-family: 'GROBOLD'
}

.form-style-8{
    font-family: 'GROBOLD','Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: transparent;
    margin: 190px auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #690066;
    text-transform: uppercase;
    font-family: 'GROBOLD,' 'Open Sans Condensed', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"], 
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    margin-bottom: 10px;
    font: 16px GROBOLD, Arial, Helvetica, sans-serif;
    height: 45px;
    color: #f1d264;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
    color: #f1d264;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'GROBOLD', 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
 /* Grey out default value of Type of Play */
select:required:invalid {
    color: white;
    opacity: 0.8;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }

html * {
    font-family: 'GROBOLD' !important;
}

/* Background */
.bg {
    background-image: url("../assets/logo.png");
    background-color: #002c3f;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
